# Ignore extracted frames
kick_frames/
__pycache__/
*.pyc
.ipynb_checkpoints/
mmpose/
mmdetection/

# Ignore raw videos
raw_videos/

# Ignore video/image files everywhere
*.mp4
*.avi
*.mov
*.png
*.jpg

# Environment/IDE
.vscode/
.env 
*.ipynb